.login_window {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  border: 1px solid rgba(var(--card-border-rgb), 0.15);
  background: rgba(var(--card-rgb), 0.08);
  transition: background 200ms, border 200ms;
}

.login_window span {
  display: inline-block;
  transition: transform 200ms;
}

.login_window h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.login_window label {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.login_window p {
  display: flex;
  flex-flow: row nowrap;
}

.mode_switch {
  font-family: arial, sans-serif;
  font-size: 13px;
  color: darkgrey;

  display: inline-block;
  width: 100%;

  margin: 0.5rem 0 0 0;

  text-align: center;
  page-break-inside: avoid;
}

.mode_switch button {
  background: none!important;
  border: none;
  padding: 0!important;
  cursor: pointer;
}

.mode_switch button:hover {  
  text-decoration: underline;
}

/* Mobile */
@media (max-width: 700px) {
  .login_window {
    padding: 1rem 2.5rem;
  }
}
