.sheet {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
  height: 100vh;
  max-height: 100vh;

  width: 100vw;
  max-width: 100vw;

  overflow-x: auto;
  overflow-y: auto;
}

.sheet::-webkit-scrollbar {
  background-color: transparent;
}

.sheet::-webkit-scrollbar:vertical {
  width: 1vmin;
}

.sheet::-webkit-scrollbar:horizontal {
  height: 1vmin;
}

.sheet::-webkit-scrollbar-thumb:vertical {
  background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
  box-shadow: inset 2px 2px rgba(#fff, 0.5);
  border-radius: 100px;
}

.sheet::-webkit-scrollbar-thumb:horizontal {
  background-image: linear-gradient(90deg, #d0368a 0%, #708ad4 99%);
  box-shadow: inset 2px 2px rgba(#fff, 0.5);
  border-radius: 100px;
}

.description {
  position: fixed;
  pointer-events: none;
  top: 0;
  min-height: 2.4rem;
  max-height: 4.8rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  width: 100%;
  background: transparent;

  font-size: 0.85rem;

  z-index: 30;
  font-family: var(--font-mono);
}

.description .element {
  display: inline-flex;
  pointer-events: all;

  max-height: 2.0rem;
  border: 0.1rem solid rgba(102, 102, 102, 0.8);
  border-radius: 0.18rem;
  padding: 0.04rem;
  margin: 0.06rem 0.13rem;
  width: fit-content;

  background: linear-gradient(0deg, rgba(122,174,255,1.0) 0%, rgba(178,133,255,0.47) 100%);
}

.tab {
  display: flex;

  flex-shrink: 0;
  flex-flow: row nowrap;
  justify-content: flex-start;

  margin-top: 2.4rem;

  max-width: 100vw;
}

/* Mobile */
@media (max-width: 700px) {
  .description {
    top: auto;
    bottom: 0;
    height: fit-content;

    flex-wrap: wrap-reverse;
    justify-content: space-evenly;

    min-height: 2.4rem;
    max-height: 4.8rem;

    margin-bottom: 0.1rem;
  }

  .description .element {
    background: linear-gradient(0deg, rgba(178,133,255,0.30) 0%, rgba(122,174,255,0.8) 100%);
  }

  .tab {
    margin-top: 0;
    margin-bottom: 4.8rem;
  }
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  flex: 1 1 100%;
  height: fit-content;
  width: fit-content;
  
  margin: 0.25rem;
  padding: 0.25rem;
  border: 0.125rem solid rgba(47, 47, 47, 0.47);
  border-radius: 0.5rem;
}

.column .label {
  display: flex;
  min-height: 2rem;
  max-height: 4rem;

  text-align: center;

  font-family: var(--font-mono);
  font-weight: 700;
}

.column .cards {
  min-height: 18vh;
  height: max-content;
  
  display: flexbox;
  flex-direction: column;
  flex-flow: column;
  
  min-width: 250px;
  max-width: 560px;
  width: max-content;
}

.cardDraggable {
  margin: 1rem;
  border: 0.125rem solid rgba(47, 47, 47, 0.47);
  border-radius: 0.25rem;
  max-width: 240px;
}

.card {
  display: flexbox;
  flex-flow: column nowrap;

  padding: 0.5rem;

  width: 100%;
  height: 100%;
}

.card .label {
  text-align: left;
  font-family: var(--font-mono);
  font-weight: 700;

  padding: 0.25rem;
  border: 0.125rem solid rgba(47, 47, 47, 0.47);
  border-radius: 0.5rem;
}

.card .text {
  margin-top: 0.5rem;
  padding: 0.1rem;
  border: 0.125rem solid rgba(47, 47, 47, 0.47);
  border-radius: 0;
  word-wrap: break-word;
  max-height: 8rem;
  overflow-y: auto;
}

.card .text::-webkit-scrollbar {
  background-color: transparent;
}

.card .text::-webkit-scrollbar:vertical {
  width: 8px;
}

.card .text::-webkit-scrollbar-thumb:vertical {
  background-image: linear-gradient(180deg, rgba(255, 200, 220, 0.666) 0%, rgba(200, 200, 255, 0.8) 100%);
  box-shadow: inset 2px 2px rgba(#fff, 0.5);
  border-radius: 8px;
}

.cardAdd {
  margin: 0 1rem;
  padding: 0.5rem;
  border: 0.125rem solid rgba(47, 47, 47, 0.47);
  border-radius: 0.25rem;
}

.cardAddPopup {
  background: radial-gradient(ellipse at 50% 50%, rgba(216, 251, 255, 0.47) 0%, rgba(243, 243, 243, 0.30) 50%);
}

.cardAddPopup .inputField {
  margin: 0.25rem;
  padding: 0.125rem;
  background-color: rgba(240, 240, 255, 0.47);
  border-radius: 0.25rem;
  border: 0.125rem solid rgba(102, 102, 102, 0.8);
}
